Repository linkedin/avro-util, pull requests merged in 2021-10, with the labels that each got.

#211 [helper] Support setting properties on schemas and fields.
  helper/helper-common/build.gradle
  helper/helper-common/src/main/java/com/linkedin/avroutil1/compatibility/AvroAdapter.java
  helper/helper-common/src/main/java/com/linkedin/avroutil1/compatibility/Jackson1Utils.java
  helper/helper-common/src/main/java/com/linkedin/avroutil1/compatibility/Jackson2Utils.java
  helper/helper-common/src/main/java/com/linkedin/avroutil1/compatibility/StringPropertyUtils.java
  helper/helper-common/src/main/java/com/linkedin/avroutil1/compatibility/StringUtils.java
  helper/helper/build.gradle
  helper/helper/src/main/java/com/linkedin/avroutil1/compatibility/AvroCompatibilityHelper.java
  helper/impls/helper-impl-110/src/main/java/com/linkedin/avroutil1/compatibility/avro110/Avro110Adapter.java
  helper/impls/helper-impl-14/src/main/java/com/linkedin/avroutil1/compatibility/avro14/Avro14Adapter.java
  helper/impls/helper-impl-15/src/main/java/com/linkedin/avroutil1/compatibility/avro15/Avro15Adapter.java
  helper/impls/helper-impl-16/src/main/java/com/linkedin/avroutil1/compatibility/avro16/Avro16Adapter.java
  helper/impls/helper-impl-17/src/main/java/com/linkedin/avroutil1/compatibility/avro17/Avro17Adapter.java
  helper/impls/helper-impl-17/src/main/java/com/linkedin/avroutil1/compatibility/avro17/Avro17Utils.java
  helper/impls/helper-impl-18/src/main/java/com/linkedin/avroutil1/compatibility/avro18/Avro18Adapter.java
  helper/impls/helper-impl-19/src/main/java/com/linkedin/avroutil1/compatibility/avro19/Avro19Adapter.java
  helper/tests/helper-tests-110/src/test/java/com/linkedin/avroutil1/compatibility/avro110/AvroCompatibilityHelperProps110Test.java
  helper/tests/helper-tests-14/src/test/java/com/linkedin/avroutil1/compatibility/avro14/AvroCompatibilityHelperProps14Test.java
  helper/tests/helper-tests-15/src/test/java/com/linkedin/avroutil1/compatibility/avro15/AvroCompatibilityHelperProps15Test.java
  helper/tests/helper-tests-16/src/test/java/com/linkedin/avroutil1/compatibility/avro16/AvroCompatibilityHelperProps16Test.java
  helper/tests/helper-tests-17/src/test/java/com/linkedin/avroutil1/compatibility/avro17/AvroCompatibilityHelperProps17Test.java
  helper/tests/helper-tests-18/src/test/java/com/linkedin/avroutil1/compatibility/avro18/AvroCompatibilityHelperProps18Test.java
  helper/tests/helper-tests-19/src/test/java/com/linkedin/avroutil1/compatibility/avro19/AvroCompatibilityHelperProps19Test.java
  helper/tests/helper-tests-allavro/build.gradle
  helper/tests/helper-tests-allavro/src/test/java/com/linkedin/avroutil1/compatibility/AvroCompatibilityHelperPropsTest.java
  test-common/src/main/java/com/linkedin/avroutil1/testcommon/JsonLiterals.java
Labels: helper

#207 spotbugs detectors for BinaryMessage codecs and 1-arg deserialization
  spotbugs-plugin/src/main/java/com/linkedin/avroutil1/spotbugs/AbstractUsageDetector.java
  spotbugs-plugin/src/main/java/com/linkedin/avroutil1/spotbugs/BinaryMessageDecoderUsageDetector.java
  spotbugs-plugin/src/main/java/com/linkedin/avroutil1/spotbugs/BinaryMessageEncoderUsageDetector.java
  spotbugs-plugin/src/main/java/com/linkedin/avroutil1/spotbugs/GenericRecordBuilderUsageDetector.java
  spotbugs-plugin/src/main/java/com/linkedin/avroutil1/spotbugs/SingleSchemaDeserializationDetector.java
  spotbugs-plugin/src/main/resources/findbugs.xml
  spotbugs-plugin/src/main/resources/messages.xml
  spotbugs-plugin/src/test/java/com/linkedin/avroutil1/spotbugs/BadClass.java
  spotbugs-plugin/src/test/java/com/linkedin/avroutil1/spotbugs/BinaryMessageDecoderUsageDetectorTest.java
  spotbugs-plugin/src/test/java/com/linkedin/avroutil1/spotbugs/BinaryMessageEncoderUsageDetectorTest.java
  spotbugs-plugin/src/test/java/com/linkedin/avroutil1/spotbugs/GoodClass.java
  spotbugs-plugin/src/test/java/com/linkedin/avroutil1/spotbugs/SingleSchemaDeserializationDetectorTest.java
Labels: spotbugs

#214 parse logical types and string representation
  parser/src/main/java/com/linkedin/avroutil1/model/AvroCollectionSchema.java
  parser/src/main/java/com/linkedin/avroutil1/model/AvroEnumSchema.java
  parser/src/main/java/com/linkedin/avroutil1/model/AvroFixedSchema.java
  parser/src/main/java/com/linkedin/avroutil1/model/AvroJavaStringRepresentation.java
  parser/src/main/java/com/linkedin/avroutil1/model/AvroLogicalType.java
  parser/src/main/java/com/linkedin/avroutil1/model/AvroNamedSchema.java
  parser/src/main/java/com/linkedin/avroutil1/model/AvroPrimitiveSchema.java
  parser/src/main/java/com/linkedin/avroutil1/model/AvroRecordSchema.java
  parser/src/main/java/com/linkedin/avroutil1/model/AvroSchema.java
  parser/src/main/java/com/linkedin/avroutil1/model/AvroUnionSchema.java
  parser/src/main/java/com/linkedin/avroutil1/model/CodeLocation.java
  parser/src/main/java/com/linkedin/avroutil1/parser/avsc/AvscIssues.java
  parser/src/main/java/com/linkedin/avroutil1/parser/avsc/AvscParseContext.java
  parser/src/main/java/com/linkedin/avroutil1/parser/avsc/AvscParser.java
  parser/src/main/java/com/linkedin/avroutil1/parser/avsc/LiteralOrIssue.java
  parser/src/main/java/com/linkedin/avroutil1/parser/avsc/Parsed.java
  parser/src/test/java/com/linkedin/avroutil1/parser/avsc/AvscParserTest.java
  parser/src/test/resources/schemas/TestRecordWithHorribleLogicalTypes.avsc
  parser/src/test/resources/schemas/TestRecordWithLogicalTypes.avsc
  parser/src/test/resources/schemas/TestRecordWithStringTypes.avsc
Labels: parser
